<h1>Sign in</h1>

<div >
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>