<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div >
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>