<br/>
<br/>
<br/>

<div class="card text-center bg-info text-white font-weight:bolder mt-2">

  <div class="card-body">
    <br/>
    <br/>
    <h5 class="card-title">Private Events</h5>
    <p class="card-text ">
      This is your events page, where you can discover or create great events for everyone to attend.</p>
    <button type="button" class="btn btn-primary "><%= link_to 'Events', events_path, class:"text-white" %></button>
    <br/>
<br/>
<br/>

  </div>
</div>

