<p id="notice"><%= notice %></p>
<h1 class="title"> Event Attendees</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', events_path %>
